# 忽略特定的files/目录下的所有文件（如果适用）
/files/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# 配置文件、日志、缓存等
*.log
*.lock

# 操作系统生成的文件
.DS_Store
Thumbs.db

# IDE特定文件（例如PyCharm）
.idea/
*.iml

# 虚拟环境
venv/
.env